<section class="seller-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 p-0">
                <app-side-bar></app-side-bar>
            </div>
            <div class="col-lg-9 p-0">
                <div class="content-dashboard">
                    <section class="add-product-page">
                        <div class="container">
                            <h1>Dashboard</h1>
                         <div class="row">
                             <div class="col-lg-6">
                                <div class="inner-dashboard mb-4">
                                    <span><img src="../../../../assets/white-home-icon-png-21.jpg" /></span>
                                     <h3>Profile</h3>
                                </div>
                             </div>
                             <div class="col-lg-6">
                                <div class="inner-dashboard lightBlue">
                                    <span><img src="../../../../assets/white-home-icon-png-21.jpg" /></span>
                                     <h3>My Orders</h3>
                                </div>
                             </div>
                             <div class="col-lg-6">
                                <div class="inner-dashboard black">
                                    <span><img src="../../../../assets/white-home-icon-png-21.jpg" /></span>
                                     <h3>Wishlist</h3>
                                </div>
                             </div>
                             <div class="col-lg-6">
                                <div class="inner-dashboard navy">
                                    <span><img src="../../../../assets/white-home-icon-png-21.jpg" /></span>
                                     <h3>Comming Soon</h3>
                                </div>
                             </div>

                        </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</section>