
*{ font-family: "Poppins", sans-serif;}


section.seller-dashboard {
    padding: 50px; font-family: "Poppins", sans-serif;
    background: #ddddddbd;
}
.content-dashboard {
    background-color: #fff;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    padding: 30px;
}

section.add-product-page h4 {
    font-size: 18px;background-color: #c5e1f1;
    margin-bottom: 2rem;
}


section.add-product-page input {
    font-size: 12px;
    border-radius: 3px;
    color: #222;
}

.content-dashboard .btn {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;font-size: 12px;
    padding: 6px 30px;
}

a.btn {
    font-size: 12px;
    margin: 0 10px 0 0px;
    padding: 4px 10px !important;
    border-radius: 2px;
    cursor: pointer;
}

.table-responsive td {
    font-size: 12px;
}

.table-responsive {
    height: 35vh;
}

/* width */
.table-responsive::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track */
  .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  p {
    font-size: 13px;
    margin: 0;
    padding: 0 0px 5px 10px;
    color: #777;
}

section.add-product-page th {
    font-size: 13px;
    color: #555;
}

.ngx-pagination li {
    display: inline-block;
    font-size: 12px !important;
}

.sucees-message {
    font-size: 16px;
    background-color: #31e1b8;
    padding: 10px;
}

.delete-message {font-size: 16px;padding: 10px;
    background-color:#f18f8f;
}


