<div class="forget-wraper">
    <div class="container-fluid">
         <div class="row">
          <div class="col-lg-4 col-md-hidden col-sm-hidden"></div>  
          <div class="col-lg-4">
                 <div class="form-wraper">
                  <div class="plain-background"></div>
                  <div class="addon">
                    <span><i class="fa fa-solid fa-lock"></i></span> 
                  </div>
                  <div class="inner-content">
                    <h2>Reset Password</h2>
                    <p>Reset your new password here.</p>
                     <form class="from_wraper" [formGroup]="resetForm" (ngSubmit)="resetPasswordForm(resetForm.value)">
                        <input type="password" id="password" formControlName="password" class="form-control mb-3" placeholder="New Password">
                        <i (click)="passwordToggle()" [ngClass]="eyeClass"></i>
                         <div class="alert alert-danger" *ngIf="f['password'].touched && f['password'].invalid && f['confirmPassword'].dirty">
                             <div *ngIf="f['password'].errors && f['password'].errors['required']">Please enter the password</div>
                         </div>
                        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control mb-3" placeholder="Confirm Password">
                        <i (click)="passwordToggle1()" [ngClass]="eyeClass1"></i>
                        <div class="alert alert-danger" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid && f['confirmPassword'].dirty">
                          <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Please enter the confirm password</div>
                        </div>
                        <div class="alert alert-danger" *ngIf="resetForm.touched && resetForm.invalid">
                        <div *ngIf="resetForm?.errors?.['misMatch']">Password must match</div>
                        </div> 
                        <button type="submit" id="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Submit</button>
                     </form>
                    </div>
                 </div>
            </div>
            <div class="col-lg-4 col-md-hidden col-sm-hidden"></div>  
         </div> 
    </div>
</div>