
 .login-wraper{
    background: url('../../../../assets/login-background.png')no-repeat;
    background-size: cover;width:100%;height:100vh;
 }

 .form-control:focus {
    outline: none;
    box-shadow: none;
}
button:active {
    background: #fbb03b !important;
    color: #fff !important;
}

span.loginPassword {
    transform: translate(13rem, 0px);
}

span.eye-hideShow {
    position: absolute;
    left: 8rem;
    margin: -1.8rem 0 0 0;
}
span.eye-hideShow .fa{cursor: pointer;color: #444;}
 .login-inner {
    transform: translate(-3rem, 6rem);
}
.body-area input, .body-area textarea {
    font-size: 12px;
    color: #444;
    border-radius: 2px;
    padding: 7px 10px;
}
.text-right {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 0.3rem;
}

.header-area {display: flex;}

input.form-control:focus {
    outline: none;
    box-shadow: none;
}

.text-right{font-size: 14px; cursor: pointer; }

.login-inner p {
    font-size: 12px;
    margin: -5px 0 0 0;
    padding: 0;
    color: #7c7979;
}

.body-area h4 {
    transform: translate(0px, 11rem);
    color: #6c58ef;
    cursor: pointer;
    font-size: 13px !important;
}
button.btn.mt-4 {
    position: relative;
    top: 2rem;
}

.btn {
    border-radius: 2rem;
    text-transform: uppercase;
    border: none;position: relative;
    top: 0rem;
    padding: 13px 50px;
    font-size: 12px;width: auto;
    margin: 0 auto;color: #fff;
    background-color: #6333d7;
}
input.form-control::placeholder, textarea.form-control::placeholder {
    color: #7a7777;
    font-weight: 300;
}
.alert.alert-danger div {
    font-size: 12px;
}

.alert {
    padding: 5px 10px;
    margin: 10px 0 0 0;
    border-radius: 1px;
}





/********************************* Responsive Mobile Device **********************************/

@media only screen and (max-width: 600px) {

    .login-wraper {
        background: #e1e5ea !important;
        width: 100%;
    }

    .header-area h6 {
        transform: translate(-1.5rem, 0px) !important;
    }
   
    .body-area h4 {margin:0 1rem 0 0px;}

    .login-inner {
        transform: translate(0rem, 4rem);padding: 0 1rem;
    }

}
