<section class="order-warper">
  <div class="container">
       <div class="row">
          <div class="col-lg-12">
              <div class="inner-order">
                  <span> &check;</span>
                  <h4>Your Order is comfired!</h4>
                  <p>We'll send you shopping confirmation email as soon as possible</p>
                  <button (click)="goToShop()" class="btn btn-primary">Shop Again</button>
              </div>
          </div>
       </div>
  </div>

</section>