<div class="forget-wraper">
    <div class="container-fluid">
         <div class="row">
            <div class="col-lg-4 col-md-hidden col-sm-hidden"></div>  
              <div class="col-lg-4">
                  <div class="form-wraper">
                    <div class="plain-background"></div>
                    <div class="addon">
                      <span><i class="fa fa-solid fa-lock"></i></span> 
                    </div>
                      <div class="inner-content">
                        <h2>Reset Password</h2>
                      <p>Reset your new password here.</p>

                      <form [formGroup]="resetForm" class="from_wraper" (ngSubmit)="resetPasswordForm(resetForm.value)">

                          <input type="password" id="password" formControlName="password" class="form-control" placeholder="New Password">
                          <i (click)="eyeChange()" [ngClass]="eyeClass"></i>
                          
                          <div class="alert alert-danger" *ngIf="f['password'].touched && f['password'].invalid">
                            <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</div>
                          </div>

                          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                          <i (click)="eyeChange1()" [ngClass]="eyeClass1"></i>

                          <div class="alert alert-danger" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
                              <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']"> Confirm password is required </div>
                          </div>

                          <div class="alert alert-danger" *ngIf="resetForm.touched && resetForm.invalid">
                            <span *ngIf="resetForm?.errors?.['mismatch']">
                              Password doesn't match
                            </span>
                          </div>

                          <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary"> Submit</button>
                          
                      </form>

                      </div>
                  </div>
              </div>
            <div class="col-lg-4 col-md-hidden col-hidden"></div>
         </div> 
    </div>
</div>