<div class="container-fluid loader">
    <app-loader></app-loader>
     <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <img src="../../../assets/loader-image.png" class="img-responsive">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <img src="../../../assets/loader-image.png" class="img-responsive">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <img src="../../../assets/loader-image.png" class="img-responsive"> 
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <img src="../../../assets/loader-image.png" class="img-responsive">
        </div>
     </div>
</div>
