<section class="seller-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 p-0">
                <app-sidebar-menu></app-sidebar-menu>
            </div>
            <div class="col-lg-9 p-0">
                <div class="content-dashboard">
                    <section class="add-product-page">
                        <div class="container">
                            <h1>Dashboard</h1>
                         <div class="row">
                            <div class="col-lg-6 mt-4 border-1">
                                <!-- <h3>Product Analysis</h3> -->
                            <!-- <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="chartData"
                                [xAxis]="showXAxis" [yAxis]="showYAxis" [barPadding]="50"></ngx-charts-bar-vertical> -->
                            </div>
                            <div class="col-lg-6">
                            <!-- <ngx-charts-pie-chart
                            [view]="view1"
                            [scheme]="colorScheme"
                            [results]="secondChart"
                            [gradient]="gradient"
                            [labels]="showLabels"
                            [doughnut]="isDoughnut"
                            >
                            </ngx-charts-pie-chart> -->
                            </div>
                    </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</section>