
.sidebar-dashboard {
    background-color: #0c1320;
    height: 100%;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    padding: 30px 0;
}
.links .active {
    background-color: #1496bb !important;
}

.profile-pic img {
    width: 80px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.profile-pic h6 {
    text-align: center;
    padding: 0.5rem 0 0 0;
    font-size: 14px;
    color: #ddd;
}

.links li a {
    text-decoration: none;
    color: #ddd;
    font-size: 13px;
    display: block;cursor: pointer;
    padding: 14px 3rem;
}

.links ul {
    margin: auto;
    text-align: center;
    transform: translate(0rem, 0px);padding: 0;
}
.links img {
    width: 20px;transform: translateY(-4px);
}

.links ul li {
    list-style: none;
    text-align: left;
    margin: auto;
    display: block;
}

.links li a:hover {
    transition: .3s ease;
    background-color: #1496bb !important;
    color: #fff;
}

/* .links li a::after {
    position: absolute;
    content: '';
    right: -1.5rem;
    border-top: 16px solid transparent;
    border-left: 26px solid #4b9bdd;
    border-bottom: 15px solid transparent;
} */

.links li a {
    position: relative;
}



/********************************* Responsive CSS *************************/
@media only screen and (max-width: 600px) {
.sidebar-dashboard{
    border-radius: 10px 10px 0px 0px;
}

}
